public/*
resources/*
.hugo_build.lock

content/sobre/*
content/carta-aberta/*
content/open-letter/*

content/noticias-e-iniciativas/*
!content/noticias-e-iniciativas/_index.md

content/artigos/*
!content/artigos/_index.md

static/img/*
!static/img/favicon.ico
!static/img/logo.png
!static/img/logo_white.png
!static/img/email.png
!static/img/facebook.png
!static/img/linkedin.png
!static/img/instagram.png
!static/img/trees.jpg
!static/img/cantina.png
