<div class="container">
    <br><br>

    <h1>Iniciativas</h1>
    <br>
    {{ $pages := .Site.GetPage "/iniciativas" }}
    {{ partial "listing_grid.html" (dict "pages" $pages "maxIndex" 3) }}
    <div class="center-items">
        <a href="/iniciativas"><button class="green-button">Ver mais ></button></a>
    </div>

    <br><br>

    <h1>Artigos</h1>
    <br>
    {{ $pages := .Site.GetPage "/artigos" }}
    {{ partial "listing_grid.html" (dict "pages" $pages "maxIndex" 3) }}
    <div class="center-items">
        <a href="/artigos"><button class="green-button">Ver mais ></button></a>
    </div>

    <br><br><br>
</div>
