<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>
                        <img src="{{ .Site.Params.logo | relURL }}" width="300" length="120">
                    </h1>
                    <br>
                    <h2>Grupo de estudantes ambientalista do Instituto Superior Técnico</h2>
                    <br>
                    Somos ums secção autónoma da Associação de Estudantes do IST (AEIST) focada no desenvolvimento sustentável.
                    O nosso objetivo, como jovens conscientes, é alertar para a necessidade de protegermos o nosso planeta, procurando formas de trazer a sustentabilidade para o meio académico e não só!
                    <!--<hr class="small">-->
                    <!--<span class="subheading">{{ .Site.Params.slogan }}</span>-->
                </div>
            </div>
        </div>
    </div>
</header>