<header class="intro-header" style="position: relative; background-image: url('{{ .Site.Params.petition_image | relURL }}');">
    <div class="dark-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="color: white;">
                    <h2>Alimentação no Técnico: Carta Aberta</h2>
                    <br>
                    <a href="/carta-aberta"><button class="green-button">Sabe mais e assina!</button></a>
                </div>
            </div>
        </div>
    </div>
</header>
